/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "foundation_and_overrides";

@import url(http://fonts.googleapis.com/css?family=Dosis);


$widget-colour: #EEE;

body {
    
    > nav.top-bar {
        max-width: $row-width;
        margin: 0 auto;
        border: 1px solid #DDD;
        border-width: 0 1px;
        
        .top-bar-section {
            .has-form {
                padding-top: 0.5em;
            }
        }
    }
    
    #container {
        > header {
        }

        > #main {
            background-color: #F4F4F4;
            border: 1px solid #DDD;
            border-top: 0;
                        
            > aside {
                padding: 1em;
                
                > h1 {
                    line-height: 1em;
                    font-size: 2.25em;
                    text-align: center;
                }
            }

            > section {
                margin: 0;
                padding: 0;
                
                > header {
                    background-image: url('/assets/bg_graylines.gif');
                    border: 1px solid #DDD;
                    border-width: 0 1px 1px 0;
                    padding: 0;
                    
                    > img {
                        vertical-align: bottom;
                    }
                }
                
                > nav {
                    padding: 1em;
                }
                
                > div {
                    background-color: #FFF;
                    border: 1px solid #DDD;
                    border-width: 0 1px;
                    padding: 1.5em 2em;
                }
            }
        }

        > footer {
            border: 1px solid #DDD;
            border-width: 0 1px;
            padding: 1em;
            background-color: #F4F4F4;
            min-height: 4em;
        }
    }
}

h1 {
    font-family: 'Dosis', sans-serif;
}

.top-bar .name {
    overflow: hidden;
    
    h1 a {
        padding: 0;
        font-size: 98px;
        letter-spacing: -0.05em;
        font-weight: normal;
        position: relative;
        top: -0.05em;
        left: -8px;

        > span {
            font-size: 0.4em;
            letter-spacing: 0em;
            color: #AAA;
            position: relative;
            top: -0.2em;
            left: -0.075em;
        }

        &:first-letter {
            font-size: 0.96em;
        }
    }
}
